{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.<a href="/logout">Logout.</a></p>
{% else %}
    <p>Welcome, new user. Please <a href= "/login/">log in.</a></p>
{% endif %}

<h1>New questions</h1>
<ul>
{% for question in questions%}
    <li>№ {{ question.id }} <a href= "/question/{{ question.id }}/">{{ question.title }}</a> </li>
{% endfor %}
</ul>
<nav><ul class=paginator>
{% for p in paginator.page_range %}
    {% if p.number == page.number %}
    <li class = "active">
    {% else %}
    <li>
    {% endif %}
	<a href="{{ baseurl }}?page={{ p }}" > {{ p }} </a>
    </li>
{% endfor %}
</ul></nav>