{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.<a href="/logout">Logout.</a></p>
{% else %}
    <p>Welcome, new user. Please <a href= "/login/">log in.</a></p>
{% endif %}

<h1>{{ question.title }}</h1>
</p>{{ question.author }}:</p>
<p>{{ question.text }}</p>
<h2>Answers:</h2>

{% if answers %}
    <ul>
    {% for answer in answers %}
	<li>{{ answer.author }} : {{ answer.text }}</li> 
    {% endfor %}
    </ul>
{% else %}
    <p>No answers yet.</p>
{% endif %}
<h2>Add your answer</h2>
<form action="{{ url }}" method="post">
{% csrf_token %}
{% for field in form %}
<div>{{field.label}} : {{field}}</div>
{% endfor %}
<input type="submit" value="Send answer" />
</form>